div{
    background-color:gray;
    margin:50px 10px 100px 10px;
    text-align:center;
    margin:30px;
    border:1px solid black;
    padding:5px;
    border-radius:20px;
}
form
{
    margin:0 300px;
    border:2px solid black;
    border-radius:10px;
}
label{
    color:white;
}